# Ignore everything by default
*

# Don't ignore directories
!*/

# Ignore destination as it should be considered compiled data
/dst/

# Ignore Python Virtual Environment
/venv/

# Include specific files by extension
!/*.gitignore
!/*.md
!/*.sh
!/*.py
!/*.yml
!/*.conf
!/*.ini
!/*.Dockerfile

!/.github/workflows/*.*
!/.vscode/*.*

!/src/templates/*.template
!/src/css/*.css
!/src/js/*.js
!/src/assets/*.*
!/src/meta/*.*
!/src/pages/**
