<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
  <title>${blog_title}</title>
  <link>${blog_url}</link>
  <language>${current_lang}</language>
  <copyright>${author_copyright}</copyright>
  <generator>μblog</generator>
  <description>${blog_description}</description>
  ${rss_items}
</channel>
</rss>