<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, archive">
    <meta name="canonical" content="${blog_url}">

    <meta name="description" content="${blog_title} - ${blog_description}">

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en-us" />
    <meta property="og:site_name" content="${blog_title}" />

    <meta property="og:title" content="${page_title}" />
    <meta property="og:description" content="${blog_description}" />
    <meta property="og:url" content="${blog_url}${file_name}.html" />

    <link rel="manifest" href="/${meta_dir}/site.webmanifest">

    <link rel="apple-touch-icon" sizes="180x180" href="/${meta_dir}/apple-touch-icon.png?v=${blog_version}">
    <link rel="icon" type="image/png" sizes="32x32" href="/${meta_dir}/favicon-32x32.png?v=${blog_version}">
    <link rel="icon" type="image/png" sizes="16x16" href="/${meta_dir}/favicon-16x16.png?v=${blog_version}">
    <link rel="favicon" href="/favicon.ico?v=${blog_version}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/${css_dir}/normalize.css?v=${blog_version}">
    <link rel="stylesheet" type="text/css" media="all" href="/${css_dir}/style.css?v=${blog_version}">
    <link rel="stylesheet" type="text/css" media="all" href="/${css_dir}/fontawesome_all.min.css?v=${blog_version}">
    <link rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" referrerpolicy="no-referrer" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.9.1/css/flag-icons.min.css" integrity="sha512-ZQKxM5Z+PmOVa/VmISvHcqlUgzPejY92+I+sur69qiB7Vd+dAaDNMwy7AnRr6HcFbYY4so1FFPBgugE5s2jm7Q==" />

    <script type="text/javascript" src="/${js_dir}/darkmode.js?v=${blog_version}"></script>
    <script type="text/javascript" src="/${js_dir}/lang_button.js?v=${blog_version}"></script>

    <title>${blog_title}</title>
</head>
<nav>
    <i class="fa-regular fa-envelope fa-xs pl-half"></i>
    <a href="mailto:${author_mail}" title="mail" class="pl-half">mail</a>

    <i class="fa-solid fa-rss fa-xs pl-half"></i>
    <a href="/feed.xml" title="rss" class="pl-half">rss</a>
</nav>
<main>
<div class="buttons">
    <button class="dark-toggle" type="button">
        <i class="fa-regular fa-lightbulb"></i> Dark mode
    </button>
    ${languages}
</div>
<hr>
${page_content}
</main>
<footer>
    <hr>
    <p>
        ${author_copyright}
        <br>
    </p>
</footer>
</body>
</html>
