<!DOCTYPE html>
<html lang="${current_lang}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, archive">
    <meta name="canonical" content="${blog_url}">

    <meta name="description" content="${page_description}">

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="${current_lang}" />
    <meta property="og:site_name" content="${blog_title}" />

    <meta property="og:title" content="${page_title}" />
    <meta property="og:description" content="${page_description}" />
    <meta property="og:url" content="${posts_url}/${page_title}.html" />

    <meta property="og:article:published_time" content="${page_date}" />
    <meta property="og:article:modified_time" content="${page_modified}" />
    <meta property="og:article:author" content="${author_name}" />
    ${post_meta_tags}

    <link rel="manifest" href="/${meta_dir}/site.webmanifest">

    <link rel="apple-touch-icon" sizes="180x180" href="/${meta_dir}/apple-touch-icon.png?v=${blog_version}">
    <link rel="icon" type="image/png" sizes="32x32" href="/${meta_dir}/favicon-32x32.png?v=${blog_version}">
    <link rel="icon" type="image/png" sizes="16x16" href="/${meta_dir}/favicon-16x16.png?v=${blog_version}">
    <link rel="favicon" href="/favicon.ico?v=${blog_version}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/${css_dir}/normalize.css?v=${blog_version}">
    <link rel="stylesheet" type="text/css" media="all" href="/${css_dir}/style.css?v=${blog_version}">
    <link rel="stylesheet" type="text/css" media="all" href="/${css_dir}/fontawesome_all.min.css?v=${blog_version}">
    <link rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" referrerpolicy="no-referrer" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.9.1/css/flag-icons.min.css" integrity="sha512-ZQKxM5Z+PmOVa/VmISvHcqlUgzPejY92+I+sur69qiB7Vd+dAaDNMwy7AnRr6HcFbYY4so1FFPBgugE5s2jm7Q==" />

    <script type="text/javascript" src="/${js_dir}/darkmode.js?v=${blog_version}"></script>
    <script type="text/javascript" src="/${js_dir}/lang_button.js?v=${blog_version}"></script>
    <script type="text/javascript" src="/${js_dir}/tags_${current_lang}.js?v=${blog_version}"></script>

    <title>${page_title} - ${blog_title}</title>
</head>
<nav>
    <span class="pl-half">
        <i class="fa-solid fa-house fa-xs icon-padding"></i><a href="/${current_lang}/index.html" title="${label_home}">${label_home}</a>
    </span>

    <span class="pl-half">
        <i class="fa-regular fa-newspaper fa-xs icon-padding"></i><a href="/${current_lang}/articles.html" title="${label_article}">${label_article}</a>
    </span>

    <span class="pl-half">
        <i class="fa-solid fa-tags fa-xs icon-padding"></i><a href="/${current_lang}/tags.html" title="${label_tags}">${label_tags}</a>
    </span>

    <span class="pl-half">
        <i class="fa-regular fa-envelope fa-xs icon-padding"></i><a href="mailto:${author_mail}" title="${label_mail}">${label_mail}</a>
    </span>

    <span class="pl-half">
        <i class="fa-brands fa-telegram fa-xs icon-padding"></i><a href="${author_contact}" title="${label_contact}">${label_contact}</a>
    </span>

    <span class="pl-half">
        <i class="fa-solid fa-rss fa-xs icon-padding"></i><a href="/${current_lang}_feed.xml" title="${label_rss}">${label_rss}</a>
    </span>

    <span class="pl-half">
        <i class="fa-regular fa-address-card fa-xs icon-padding"></i><a href="/${current_lang}/about.html" title="${label_about}">${label_about}</a>
    </span>
</nav>
<main>
<div class="buttons">
    <button class="dark-toggle" type="button">
        <i class="fa-regular fa-lightbulb"></i> ${label_dark_mode}
    </button>
    ${languages}
</div>
<hr>
${page_content}
${post_tags}
</main>
<footer>
    <hr>
    <p>
        ${author_copyright}
        <br>
    </p>
</footer>
</body>
</html>
