.dark {
  --color-page-background: #121212;
  --color-text: #c0c0c0;
  --color-headings: #e0e0e0;
  --color-link: #6eacf6;
  --color-quote-bar: #575757;
  --color-quote-text: #c0c0c0;
  --color-table-header: #121212;
  --color-tag-text: #c0c0c0;
  --color-tag-count: #b2cffb;
  --color-tag-border: #c0c0c0;
  --color-tag-background: #121212;
  --color-tag-background-hover: #282828;
  --color-tag-text-hover: #b2cffb;
  --color-article-listing-date: #b2cffb;
  --color-article-listing-title: #c0c0c0;
  --color-separator-line: #282828;
  --color-footer: #575757;
  --color-theme-toggle: #282828;
  --color-theme-toggle-hover: #b2cffb;
}

.light {
  --color-page-background: #ffffff;
  --color-text: #222222;
  --color-headings: #111111;
  --color-footer: #111111;
  --color-link: #023978;
  --color-quote-bar: #dddddd;
  --color-quote-text: #1c1c1c;
  --color-table-header: #f4f4f4;
  --color-tag-text: #111111;
  --color-tag-count: #023978;
  --color-tag-border: #111111;
  --color-tag-background: #ffffff;
  --color-tag-background-hover: #f4f4f4;
  --color-tag-text-hover: #023978;
  --color-article-listing-date: #222222;
  --color-article-listing-title: #111111;
  --color-separator-line: #dddddd;
  --color-theme-toggle: #dddddd;
  --color-theme-toggle-hover: #f4f4f4;
}

html {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: "IntelOneMono", "SpaceMono", IBM Plex Mono, monospace;
}

body {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 900px;
  align-content: center;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  color: var(--color-text);
  background-color: var(--color-page-background);
}

body nav {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

body main {
  flex: 1 0 auto;
}

footer {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  flex-shrink: 0;
}

.footer-elements {
  display: flex;
}

.footer-copyright {
  margin-top: 0.2em;
  margin-left: 2rem;
  width: 100%;
  color: var(--color-footer);
}

.footer-theme-toggle {
  width: 2rem;
}

a {
  font-style: italic;
  text-decoration: underline;
  color: var(--color-link);
}

a:hover {
  color: var(--color-page-background);
  background-color: var(--color-link);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  row-gap: 10px;
  column-gap: 20px;
}

.tag {
  display: flex;
  align-items: center;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-tag-border);
  color: var(--color-tag-text);
  transition: background-color ease-in-out 100ms;
  cursor: pointer;
}

.tag-count {
  color: var(--color-tag-count);
  margin-left: 0.6rem;
}

.tag-text {
  color: var(--color-tag-text);
}

.tag:hover {
  background-color: var(--color-tag-background-hover);
  color: var(--color-tag-text-hover);
}

.tag span {
  padding-left: 0.5rem;
  font-size: 0.9em;
  color: var(--color-text);
}

img {
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
}

hr {
  border-top: thin;
  border: none;
  height: 1px;
  background-color: var(--color-separator-line);
}

h1,
h2,
h3 {
  text-align: left;
  vertical-align: middle;
  color: var(--color-headings);
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

.articles {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-entry {
  display: flex;
  align-items: center;
}

.article-date {
  flex: 0 0 auto;
  margin-right: 0.8rem;
  font-weight: bold;
  color: var(--color-article-listing-date);
}

.article-title {
  flex: 1;
}

.article-title a {
  text-decoration: underline;
  font-style: normal;
  color: var(--color-article-listing-title);
}

.article-title a:hover {
  color: var(--color-page-background);
  background-color: var(--color-text);
}

.block-code {
  background-color: #161b22;
  border-radius: 5px;
  display: block;
  padding: 0.6rem 1rem;
  overflow-x: auto;
}

.inline-code {
  background-color: #2f333a;
  display: inline;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 0.1rem 0.4rem;
  border-radius: 8px;
}

blockquote {
  border-left: 10px solid var(--color-quote-bar);
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}

blockquote p {
  color: var(--color-quote-text);
  font-style: italic;
}

p {
  color: var(--color-text);
}

table {
  margin: 0 auto;
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  border-collapse: collapse;
  padding: 0.5rem 0.8rem;
}

th {
  font-weight: bold;
  background-color: var(--color-table-header);
}

.theme_btn {
  border: none;
  background-color: var(--color-page-background);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 0.4rem;
  fill: var(--color-text);
  color: var(--color-footer);
}

.theme_btn:hover {
  background-color: var(--color-theme-toggle);
}

figure {
  margin: 1rem 0;
}

/*
* Mobile Styles
*/
@media screen and (max-width: 850px) {
  html {
    font-size: 0.85rem;
  }

  header {
    font-size: 2.5vw;
  }

  h1 {
    font-size: 2rem;
  }
}

/*
 * Zeh's
 */

img[src*="#profile-pic"] {
  border-radius: 50% !important;
  border: 1px solid var(--color-tag-border) !important;
  width: 16em;
  height: 16em;
}

.pr-half {
  padding-right: 0.5em;
}

.pl-half {
  padding-left: 0.5em;
}

.icon-padding {
  padding-right: 0.25em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  background-color: transparent;
}

.buttons button:hover {
  color: var(--color-page-background);
  background-color: var(--color-link);
}

.code-block pre {
  display: flex;
}

code {
  background-color: rgba(185, 188, 190, 0.6);
  border-bottom-left-radius: 0.375em;
  border-bottom-right-radius: 0.375em;
  border-top-left-radius: 0.375em;
  border-top-right-radius: 0.375em;
  box-sizing: border-box;
  font-size: 0.85em;
  line-height: 20.4px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 0.16em;
  padding-left: 0.34em;
  padding-right: 0.34em;
  padding-top: 0.16em;
  white-space: break-spaces;
}

.dark code {
  color: white;
  background-color: var(--color-quote-bar);
}

.tag-bubble {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 0.625em;
  border-style: solid;
  border-color: var(--color-gray-mid);
  border-width: 1px;
  color: var(--color-blue-lgt);
  transition: background-color ease-in-out 100ms;
  cursor: pointer;
}

.tag-bubble span {
  padding-left: 0.5rem;
  font-size: 0.9em;
  color: var(--color-gray-mid);
}

a.tag-bubble {
  font-style: normal;
  text-decoration: none;
}

nav a {
  color: var(--color-text);
}

.post-dates {
  display: flex;
  flex-flow: column;
  font-size: 0.6rem;
}

.post-date {
  font-weight: bold;
}